<!DOCTYPE html>

<html class="no-js" lang="en">


<head>

	<meta charset="utf-8">
	<title>主页</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!--手机适配-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--css-->
	<link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/vendor.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

	<!--js-->
	<script src="{{url_for('static',filename='js/modernizr.js')}}"></script>
	<script src="{{url_for('static',filename='js/pace.min.js')}}"></script>

	
</head>


<body id="top">

	<header class="short-header">
		<div class="gradient-block"></div>

		<div class="row header-content">

			<!--首页logo标志-->
			<div class="logo">
				<a href="#">Home</a>
			</div>

			<!--导航栏设置
	   	<nav id="main-nav-wrap">
			<ul class="main-navigation sf-menu">
					<li class="current"><a href="index.html" title="">Home</a></li>									
					<li class="has-children">
						<a href="category.html" title="">Categories</a>
						<ul class="sub-menu">
			            <li><a href="category.html">Wordpress</a></li>
			            <li><a href="category.html">HTML</a></li>
			            <li><a href="category.html">Photography</a></li>
			            <li><a href="category.html">UI</a></li>
			            <li><a href="category.html">Mockups</a></li>
			            <li><a href="category.html">Branding</a></li>
			         </ul>
					</li>
					<li class="has-children">
						<a href="single-standard.html" title="">Blog</a>
						<ul class="sub-menu">
			            <li><a href="single-video.html">Video Post</a></li>
			            <li><a href="single-audio.html">Audio Post</a></li>
			            <li><a href="single-gallery.html">Gallery Post</a></li>
			            <li><a href="single-standard.html">Standard Post</a></li>
			         </ul>
					</li>
					<li><a href="style-guide.html" title="">Styles</a></li>
					<li><a href="about.html" title="">About</a></li>	
					<li><a href="contact.html" title="">Contact</a></li>										
				</ul>
			</nav> 
			-->



			<!--搜索框展开-->
			<div class="search-wrap">

				<form role="search" method="get" class="search-form" action="#">
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:"
						 autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div>

			<!--图标-->
			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<!--
				<a class="menu-toggle" href="#"><span>Menu</span></a>
				-->
			</div>

		</div>

	</header>

	{% block content %}{% endblock %}

	<!-- footer -->
	<footer>

		<div class="footer-main">

			<div class="row">

				<div class="col-four tab-full mob-full footer-info">
					<h4>part1</h4>
					<p>##########</p>
				</div>

				<div class="col-four tab-1-3 mob-1-2 site-links">
					<h4>part2</h4>
					<ul>
						<li><a href="#">link1</a></li>
						<li><a href="#">link2</a></li>
					</ul>
				</div>

				<div class="col-four tab-1-3 mob-1-2 social-links">
					<h4>part3</h4>
					<ul>
						<li><a href="#">link1</a></li>
						<li><a href="#">link2</a></li>
					</ul>
				</div>

			</div>
		</div>


		<!--copyright-->
		<div class="footer-bottom">
			<div class="row">

				<div class="col-twelve">
					<div class="copyright">
						<span>##########</span>
					</div>

					<!--返回顶层-->
					<div id="go-top">
						<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
					</div>
				</div>

			</div>
		</div>

	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!--js-->
	<script src="{{url_for('static',filename='js/jquery-2.1.3.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
	<script src="{{url_for('static',filename='js/jquery.appear.js')}}"></script>
	<script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>

</html>