{% extends "base.html" %}
{% block content %}

<div id="content-wrap" class="styles">

    <div class="row narrow add-bottom text-center">

        <div class="col-twelve tab-full">

            <h1>「“文学少女”シリーズ」</h1>

        </div>

    </div>





    <div class="row add-bottom">

        <div class="col-twelve">
            <hr>
            <h3>小说原作介绍</h3>
            <p>《文学少女》系列轻小说于2006年4月开始于Fami通文库发行，全16卷已完结，其中正作长篇8卷，爱恋插话集4卷，外传系列4卷，另有画集2部。台湾中文版由尖端出版发行，中国大陆的简体中文版由人民文学出版社出版（目前仅发行到第八卷）。英文版由Yen
                Press出版。<br />
                《文学少女》正作的故事每册皆以一部实际存在的经典小说为主线文本，推动剧情前进。剧情围绕文艺社社长天野远子和社员井上心叶遭遇的事件所展开。小说基本上以井上心叶的第一人称进行，但不时穿插“第二某人”的第一人称自白心境（粗体字），是故事黑幕的重要提示。<br />
                短篇《爱恋插话集》系列共分4册，补完正作出场人物在“第一人称”视点外的故事，也延伸了主要人物的后续发展。<br />
                外传《见习生》系列是文艺社新社员日坂菜乃与社长井上心叶的故事，以日坂菜乃第一人称进行。时序位于正作一年之后，共有《文学少女见习生的初恋》、《文学少女见习生的伤心》、《文学少女见习生的毕业》3册。<br />
                外传《青涩作家和文学少女编辑》叙述正作结束8年后，成为薰风社编辑的天野远子和作家雀宫快斗的故事，以雀宫快斗为第一人称进行。共1册。<br />
            </p>

            <div class="table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th>中文名称</th>
                            <th>日文名称</th>
                            <th>出版日期</th>
                            <th>主要配角</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>渴望死亡的小丑</td>
                            <td>「文学少女」と死にたがりの道化</td>
                            <td>2006年4月28日</td>
                            <td>竹田千爱</td>
                        </tr>
                        <tr>
                            <td>渴求真爱的幽灵</td>
                            <td>「文学少女」と飢え渇く幽霊</td>
                            <td>2006年8月30日</td>
                            <td>雨宫萤</td>
                        </tr>
                        <tr>
                            <td>沉陷过往的愚者</td>
                            <td>「文学少女」と繋がれた愚者</td>
                            <td>2006年12月25日</td>
                            <td>芥川一诗 更科茧里</td>
                        </tr>
                        <tr>
                            <td>背负污名的天使</td>
                            <td>「文学少女」と穢名の天使</td>
                            <td>2007年4月28日</td>
                            <td>水户夕歌 琴吹七瀨</td>
                        </tr>
                        <tr>
                            <td>绝望恸哭的信徒</td>
                            <td>「文学少女」と慟哭の巡礼者</td>
                            <td>2007年8月30日</td>
                            <td>朝仓美羽 井上心叶</td>
                        </tr>
                        <tr>
                            <td>怀抱花月的水妖</td>
                            <td>「文学少女」と月花を孕く水妖</td>
                            <td>2007年12月25日</td>
                            <td>姬仓麻贵 鱼谷纱代</td>
                        </tr>
                        <tr>
                            <td>迈向神境的作家 上</td>
                            <td>「文学少女」と神に臨む作家 上</td>
                            <td>2008年4月28日</td>
                            <td>樱井叶子</td>
                        </tr>
                        <tr>
                            <td>迈向神境的作家 下</td>
                            <td>「文学少女」と神に臨む作家 下</td>
                            <td>2008年8月30日</td>
                            <td>天野结衣 天野文阳</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div> <!-- end row -->

    <div class="row">
        <hr>
        <h3>出场人物介绍</h3>
        <br>
        <div class="col-six tab-full">
            <h3>天野远子</h3>
            <p><img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/tooko.jpg')}}">
                圣条学园文艺社社长，井上心叶的学姊。自称‘文学少女’，是把文学书籍一页一页吃下肚子的美食家，因为此行为被井上心叶吐槽为妖怪。虽然能够吃下一般食物，对本人而言不过是没有味道的无机物罢了。比图书馆委员还熟悉图书馆，且精通文学。生日为3月15日，双鱼座。虽然有典雅端庄的大和抚子般的外表，实际上个性相当活泼、天真，时常环绕着故事作白日梦，下决定后会无视他人意见直接实行。另一方面，对奇怪的地方感觉特别敏锐，也相当能够照顾他人，是很容易被人爱上的角色。喜欢读和吃各式各样的故事。无论心叶写出如何莫名其妙的文章，都一字不剩的吞下去。
            </p>
            <blockquote>
                <p>咳咳！无论是XX捆绑，还是XXXX捆绑我都能写下来！还有XX和XXX的种类，还有把XXXX和XXXXXX时候的站法，所有的体位，我都能写出总结报告！甚至XXX和XXXXX，我也能将各国的花式集结成书哦！</p>
                <cite>
                    <a>天野远子《“文学少女”登上石像怪与笨蛋的阶梯》</a>
                </cite>
            </blockquote>
        </div>

        <div class="col-six tab-full">
            <h3>井上心叶</h3>
            <p>
                <img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/konoha.jpg')}}">
                本作叙事者。就读于圣条学园二年级。国中二年级时第一次以‘井上美羽’为笔名撰写的小说得到文艺杂志大赏，以十四岁的蒙面神秘美少女作家身份出道。受赏作一炮而红，不只电影、电视剧化，甚至成为社会现象。然而因为某个事件受到过大压力，曾一度成为茧居族。受到此事件的影响，成为与他人的关系能免则免的消极性格，与天野远子相遇后精神逐渐恢复。生日为10月11日，天秤座。以普通高中生的身份生活着。知道天野远子秘密后，被迫加入文艺社，负责供应天野远子的“点心”。
            </p>
        </div>

        <div class="col-six tab-full">
            <h3>琴吹七濑</h3>
            <p>
                <img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/nanase.jpg')}}">
                心叶的同班同学，担任图书馆委员。因初中时期心叶一次不经意的帮助,开始默默的注视着他,最后深深地喜欢上了这样阳光温暖的心叶。上了高中之后却发现了心叶的变化,对其隐藏本心的行为感到愤怒。相当尊敬远子学姊。是拥有茶色头发，超群身材的美人，在班上男同学之间相当受欢迎。傲娇少女，娇羞的相当可爱,却很少见她的傲慢之处,内心其实是一个善良率真的可爱女孩。
            </p>
        </div>
        <div class="col-six tab-full">
            <h3>姬仓麻贵</h3>
            <p>
                <img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/maki.png')}}">
                就读圣条学园三年级，圣条学园理事长的孙女，管乐社社长。因为是混血儿且拥有相当程度的美貌而被周围的人称作公主。对自由有着超乎寻常的渴望。虽然热爱绘画，却因为身为理事长孙女的理由被加入管乐社，以此为交换条件在学校的音乐厅中有作画的专属空间。有许多不知是否为真心的奇妙行为。由于位于拥有大量毕业学长的管乐社，是个情报通。远子他们常常来向她询问情报，但作为交换条件远子需要成为她的绘画模特。一直希望能够画到远子的裸体。
            </p>
        </div>
        <div class="col-six tab-full">
            <h3>竹田千爱</h3>
            <p>
                <img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/chia.jpg')}}">
                来文艺社寻求情书代笔的可爱少女。就读圣条学园一年级，与琴吹一样，担任图书馆委员。根据她的说法，是一个戴着小丑面具的人。无法正常感知一般人所感受到的欢乐、痛苦。非常害怕别人发现这一点因此故意装出天然呆的样子逗大家开心。
            </p>
        </div>
        <div class="col-six tab-full">
            <h3>芥川一诗</h3>
            <p>
                <img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/kazushi.jpg')}}">
                心叶的同班同学。弓道社社员。身材高大，沉默寡言，受到女同学的喜爱。对自己严格要求，希望自己成为诚实的人。高中一年级时因探望久居医院的母亲时，偶遇朝仓美羽便爱上了她。
            </p>
        </div>
        <div class="col-six tab-full">
            <h3>朝仓美羽</h3>
            <p>
                <img width="120" height="120" class="pull-left" alt="sample-image" src="{{url_for('static',filename='images/miu.jpg')}}">
                生日为10月8日，天秤座。心叶过去的心上人，现在最深的心灵创伤。美羽是男主角井上心叶在国小三年级认识的女孩，非常喜欢写故事，梦想是成为作家。在渐渐的成长中，心叶喜欢上了美羽，每天只和美羽一起玩耍。美羽最终因心叶瞒着自己写小说，并以笔名“井上美羽”发表作品获奖而误认为心叶要离开自己，当着心叶的面跳楼自杀。
            </p>
            <blockquote>
                <p>心叶，你一定不懂吧！</p>
                <cite>
                    <a>朝仓美羽</a>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <hr>
        <h3>衍生作品</h3>
        <div class="col-twelve tab-full">
            <ul>
                <br>
                <li>画集</li>
                <br>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>出版日期</th>
                                <th>收录短篇</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>《文学少女》的追忆画廊</td>
                                <td>2008年12月15日</td>
                                <td>等待与你的那天「远子和心叶分别后四年的故事」</td>
                            </tr>
                            <tr>
                                <td>《文学少女》的追忆画廊2</td>
                                <td>2011年5月30日</td>
                                <td>甜蜜插曲～今后永远都是……「为青涩作家后的故事」</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <li>广播剧</li>
                <br>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>发售日期</th>
                                <th>封面</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>文学少女 渴望死亡的小丑</td>
                                <td>2009年10月21日</td>
                                <td>天野远子 竹田千爱</td>
                            </tr>
                            <tr>
                                <td>文学少女 渴求真爱的幽灵</td>
                                <td>2010年02月24日</td>
                                <td>天野远子 雨宮萤</td>
                            </tr>
                            <tr>
                                <td>文学少女 沉陷过往的愚者</td>
                                <td>2010年09月22日</td>
                                <td>天野远子</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <li>漫画版</li>
                <br>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>发行</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>文学少女与渴望死亡的小丑</td>
                                <td>Square Enix</td>
                            </tr>
                            <tr>
                                <td>文学少女与渴求真爱的幽灵</td>
                                <td>月刊GANGAN JOKER</td>
                            </tr>
                            <tr>
                                <td>文学少女与美味故事</td>
                                <td>角川书店</td>
                            </tr>
                            <tr>
                                <td>文学少女与恋爱的诗人</td>
                                <td>月刊Asuka</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <li>OVA</li>
                <br>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>公开日期</th>
                                <th>发售日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>文学少女 回忆篇I 天野远子篇 《梦想少女的前奏曲》</td>
                                <td>2010年5月15日</td>
                                <td>2010年6月25日</td>
                            </tr>
                            <tr>
                                <td>文学少女 回忆篇II 朝仓美羽篇 《漫舞天使的镇魂曲》</td>
                                <td>2010年5月22日</td>
                                <td>2010年10月29日</td>
                            </tr>
                            <tr>
                                <td>文学少女 回忆篇III 琴吹七濑篇 《恋爱少女的狂想曲》</td>
                                <td>2010年5月29日</td>
                                <td>2010年12月24日</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ul>

        </div>
    </div>
    <div class="row">
        <hr>
        <h3>作品评价</h3>
        <div class="col-twelve tab-full">
            <blockquote>
                <p>我是原作的粉丝，因为平时的兴趣就是阅读，像这样表现文学的作品真的非常有趣，一拿起来读就放不下来了，但是看到最终卷又觉得可惜。
                </p>
                <cite>
                    <a>花泽香菜（天野远子役）</a>
                </cite>
            </blockquote>
            <blockquote>
                <p>我目前正在看原作，还没有看完，感觉像看推理小说一样，很多谜团错综复杂的交错在一起。这些谜团一个个都非常有趣，能激发想象力。剧中远子前辈吃书的设定非常有趣。还有看这部作品的时候，可以接触到《人间失格》、《岚之丘》等文学名作，非常开心。</p>
                <cite>
                    <a>下田麻美（森红乐乐役）</a>
                </cite>
            </blockquote>
            <blockquote>
                <p>以文学小说和作家为中心，展开了各种各样的故事，对喜欢推理小说的水树来说没有抵抗力（笑）！</p>
                <cite>
                    <a>水树奈奈（琴吹七濑役）</a>
                </cite>
            </blockquote>
        </div>
    </div>
</div>

{% endblock %}