{% extends "base.html" %}
{% block content %}

<div id="content-wrap" class="styles">

    <div class="row narrow add-bottom text-center">

        <div class="col-twelve tab-full">

            <h1>「三题故事」写作指南</h1>

        </div>

    </div>





    <div class="row add-bottom">

        <div class="col-twelve">
            <hr>
            <h3>什么是「三题故事」</h3>
            <p>「文学少女系列」小说的一大亮点便是「三题故事」，故事的剧情推动与「三题故事」的交织十分引人入胜。简单来说，「三题故事」是一种写作练习技巧，写作人需要根据给定的三个主题词（多以名词与动词为主），然后根据这三个主题词在短时间内完成一篇短文的创作，文章的体裁多为叙事性，且要求必须出现与主题词有关的场景。</p>
        </div>
    </div> <!-- end row -->

    <div class="row add-bottom">

        <div class="col-twelve">
            <hr>
            <h3>如何开始「三题故事」的写作</h3>
            <p>在开始「三题故事」写作之前，最重要的便是确定三个主题词，一般可以让自己的三个朋友给出三个词语来确定，或者让身边的陌生人随机给出三个主题词，但无论如何，主题词不能带有写作人的主观意愿。同时，在写作之前多阅读其他人的作品也是十分重要的。</p>
        </div>
    </div> <!-- end row -->

    <div class="row add-bottom">

        <div class="col-twelve">
            <hr>
            <h3>怎么上传我的「三题故事」</h3>
            <p>完成「三题故事」创作之后，可以利用「文学少女」主题站的<a href="{{url_for('blog_markdown')}}">上传功能</a>发布您的文章。同时，上传板块支持Markdown编辑功能，可以快速对您将要发布的文章排版或者添加彩插，另外，选择一个合适的背景音乐往往会让您的「三题故事」更引人入胜。</p>
        </div>
    </div> <!-- end row -->

</div>

{% endblock %}